<div class="table-container mat-elevation-z2">
  <table mat-table [dataSource]="truckDataSource">
    <form [formGroup]="filterForm">

      <ng-container matColumnDef="truck_no">
        <th mat-header-cell *matHeaderCellDef>
          <br>
          <p class="p-2">Number</p>
          <mat-form-field>
            <input formControlName="truck_no" matInput>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let el" class="pl-8">
          <a mat-button color="primary" target="_blank">{{el.truck_no}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="make">
        <th mat-header-cell *matHeaderCellDef>
          <br>
          <p class="p-2">Make</p>
          <mat-form-field>
            <input formControlName="make" matInput>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let el">
          {{el.make}}
        </td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>
          <br>
          <p class="p-2">Model</p>
          <mat-form-field>
            <input formControlName="model" matInput>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let el"> {{el.model}} </td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>
          <br>
          <p class="p-2">Year</p>
          <mat-form-field>
            <input formControlName="year" matInput>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let el"> {{el.year}} </td>
      </ng-container>

      <ng-container matColumnDef="vin">
        <th mat-header-cell *matHeaderCellDef class="align-right">
          <br>
          <p class="p-2">Vin</p>
          <mat-form-field>
            <input [maxLength]="6" formControlName="vin" placeholder="Last 6 characters" matInput>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let el" class="align-right"> {{el.vin}} </td>
      </ng-container>

      <ng-container matColumnDef="registration_no">
        <th mat-header-cell *matHeaderCellDef class="align-right">
          <br>
          <p class="p-2">Registration Number</p>
          <mat-form-field>
            <input formControlName="registration_no" matInput>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let el" class="align-right"> {{el.registration_no}} </td>
      </ng-container>
    </form>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>
  <button (click)="reset()" mat-stroked-button class="important-btn">
    Reset Filters
  </button>
  <mat-paginator showFirstLastButtons [pageSizeOptions]="pageSize" (page)="paginatorChange($event)">
  </mat-paginator>
</div>
