mat-paginator,
table {
  width: 100%;
}

.align-right {
  text-align: right;
}

.pl-8 {
  padding: 8px !important;
}

.important-btn {
  float: left;
  margin: 10px;
}

.table-container {
  overflow-x: scroll;
}
