:host {
  .app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .app-content {
      padding: 1em;
    }
  }
}
